*{
  padding: 0%;
  margin: 0%;
}
.student-container {
  display: flex;
  height: 112vh;
}
h2{
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.sidebar {
  background-color: #031f55;
  color: white;
  width: 15%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo img {
  width: 50%;
  border-radius: 10px;
  padding-left: 50px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  margin: 20px 0;

}

 .menu-item:hover {
  color: #240878;
}

.settings {
  margin-top: auto;
  cursor: pointer;
}

.main-content {
  flex-grow: 1;
  background-color: #f8f8f8;
  padding: 20px;
}

.header {
  background-color: #031f55;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.status-cards {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.status-card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 25%;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.red {
  background-color: #18d8bb;
}

.purple {
  background-color: #e1eba2;
}

.green {
  background-color: #47b789;
}

.status-card i {
  font-size: 2em;
  margin-bottom: 10px;
}

.status-card span {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.menu-item {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: black;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.menu-item i {
  font-size: 2em;
  margin-bottom: 10px;
}

.menu-item p {
  margin: 0;
}
